<div class="container-body">
  <div class="container">
    <div class="container-header">
        <div class="header-text">
            <div class="titulo"><span > ¿CÓMO TE SENTISTE USANDO LA APLICACIÓN ?</span></div>
          </div>

        <span class="material-symbols-outlined " id="cancel">cancel</span>
    </div>
    <div class="body">
      <div class="emticones">
        <span id="dissatisfied"class="material-symbols-outlined">sentiment_extremely_dissatisfied</span>
        <span id="sentiment_dissatisfied"class="material-symbols-outlined">sentiment_dissatisfied</span>
        <span id="sentiment_neutral"class="material-symbols-outlined">sentiment_neutral</span>
        <span id="sentiment_satisfied"class="material-symbols-outlined">sentiment_satisfied</span>
        <span id="sentiment_very_satisfied"class="material-symbols-outlined">sentiment_very_satisfied</span>
      </div>

    <textarea  class="feedback-text"></textarea>
    <div class="btn-guardar">
      <span>Guardar</span>
    </div>





  </div>
  </div>

