<div class="container-body">
  <div class="container">
    <div class="container-header">
      <span class="material-symbols-outlined icon">key</span>
        <div class="header-text">
            <div class="titulo"><span >CAMBIAR CONTRASEÑA</span></div>
            <div class="texto"><p>  Hemos enviado un código de verificación a tu correo. De ser necesario, revisa tu carpeta de spam</p></div>
          </div>

        <span class="material-symbols-outlined " id="cancel" routerLink="/home">cancel</span>
    </div>

    <div class="body">
      <app-input [titulo]="data.titulo" [icono]="data.icono" [type]="data.type" *ngFor="let data of inputs"></app-input>
    </div>
    <app-botones volver="/setting"></app-botones>
  </div>
</div>
