<div class="container-body">
  <div class="container">
    <div class="container-header">
      <span class="material-symbols-outlined icon">badge</span>
        <div class="header-text">
            <div class="titulo"><span >INGRESE EL ID</span></div>
          </div>

        <span class="material-symbols-outlined " id="cancel" routerLink="/home">cancel</span>
    </div>
    <div class="body">
      <div class="container">
        <img id="icono" src="./../../../assets/img/Logo@3x.png">
        <div class="contenedor-input">
            <div class="input-data">
                <input type="text" required>
                <div class="underline"></div>
                <label>ID del dispositivo</label>
            </div>
        </div>
        </div>
      <div class="boton">
        <span>Agregar</span>
      </div>
  </div>
  </div>
