<div class="container-body">
<div class="container">
  <div class="container-header" >
    <span class="material-symbols-outlined icon">settings</span>
      <div class="header-text">
          <div class="titulo"><span >CONFIGURAR PERFIL</span></div>
        </div>

      <span class="material-symbols-outlined " routerLink="/home" id="cancel">cancel</span>
  </div>
  <div class="body">
    <div class="container-div" routerLink="/profile">
      <span id="icono"class="material-symbols-outlined">settings_account_box</span>
      <div class="contenedor-input">
          <div class="input-data">
              <p>Datos personales</p>
          </div>
    </div>
  </div>
  <div class="container-div" routerLink="/password">
    <span id="icono"class="material-symbols-outlined">key</span>
    <div class="contenedor-input">
        <div class="input-data">
            <p>Cambiar contraseña</p>
        </div>
  </div>
</div>
<div class="container-div" routerLink="/alerts">
  <span id="icono"class="material-symbols-outlined">edit_notifications</span>
  <div class="contenedor-input">
      <div class="input-data">
          <p>Editar alertas y reportes</p>
      </div>
</div>
</div>
<div class="container-div ">
  <span id="icono"class="material-symbols-outlined">content_paste_search</span>
  <div class="contenedor-input">
      <div class="input-data reporte">
          <p>Generar reporte personalizado</p>
      </div>
</div>
</div>

</div>
</div>
