<div class="container-body">
  <div class="container">
    <div class="container-header">
        <div class="header-text">
          </div>
    </div>
    <div class="body">
      <div class="container-div">
        <div class="contenedor-input">

      </div>
    </div>
    <div class="container-div">
      <div class="contenedor-input">
    </div>
  </div>
    </div>
    <div class="body-hover">
      <div class="titulo">
        <img src="./../../../assets/img/priority bacio@2x.png" id="priority">
        <div class="titulo-text"><span>ALERTAS Y REPORTES DESACTIVADOS</span></div>
      </div>
      <div class="volver">
        <span>SALIR</span>
      </div>
    </div>
  </div>
</div>
