<div class="container-body">
  <div class="container">
    <div class="container-header">
      <span class="material-symbols-outlined icon">add_circle</span>
        <div class="header-text">
            <div class="titulo"><span >AGREGAR UN DISPOSITIVO</span></div>
          </div>

        <span class="material-symbols-outlined " id="cancel" routerLink="/home">cancel</span>
    </div>
    <div class="body">
      <div class="container-div" routerLink="verify-device">
        <img id="icono" src="../../../assets/img/Logo.png" >
        <div class="contenedor-input">
            <div class="input-data">
                <p>Dispositivo Makesens</p>
            </div>
      </div>
    </div>
    <div class="container-div">
      <span id="icono"class="material-symbols-outlined">alt_route</span>
      <div class="contenedor-input">
          <div class="input-data">
              <p>Otros</p>
          </div>
    </div>
  </div>



  </div>
  </div>
