<div class="container-body">
  <div class="container">
    <div class="container-header">
        <div class="header-text">
          </div>
    </div>
    <div class="body">
      <div class="container">
        </div>
      <div class="boton">
      </div>
  </div>
  </div>
</div>

<div class="conteneor-difumindo">
  <div class="difuminado">
    <div class="text">
      <div class="titulo">
        <span id="icono" class="material-symbols-outlined icon">key_off</span>
        <div class="titulo-text"><span>ID INCORRECTO</span></div>
        <span id="salir" class="material-symbols-outlined icon">cancel</span>
      </div>
      <div class="guardar-como-otro">
        <span >Guardar como otro</span>
      </div>
      <div class="volver">
        <span>VOLVER</span>
      </div>

    </div>

  </div>


</div>
