.container{
  width: 32rem;
  height: 7.2rem;
  display: flex;
  flex-direction: column;
  padding-left: 1.2rem;
  background-color: #fff;
  #icono{
    width: 4.318rem;
    height: 2.673rem;}
  .contenedor-input{
    width: 30rem;
    height: 7.2rem;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    padding: 1.2rem 2.3rem 1.2rem 1.6rem;

  }

}


.contenedor-input .input-data{
  position: relative;
  width: 23.738rem;
  height: 2.3rem;
}

.contenedor-input .input-data input{
  height: 100%;
  width: 20rem;
  border: none;
  font-size: 1.4rem;
  border-bottom: 2px solid #5fce7d;
  outline: none;
  font-weight: bold;
  opacity: 0.75;
}

label{
  font-size: 1.3rem;
}
.input-data input:focus ~ label,.input-data input:valid ~ label{
  transform: translateY(-20px);
  font-size: 1.2rem;
  color: var(--verde-oscuro-principal);
}

.contenedor-input .input-data label{
  position: absolute;
  bottom: 1rem;
  left: 0;
  color: grey;
  pointer-events: none;
  transition: all 0.3s ease;
}
.input-data .underline{
  position: absolute;
  height: 0.2rem;
  width: 100%;
  bottom: 0;
}

.input-data .underline:before{
  position: absolute;
  content: "";
  height: 100%;
  width: 20rem;
  background: var(--verde-oscuro-principal);
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}
.input-data input:focus ~ .underline:before,.input-data input:valid ~ .underline:before{
  transform: scaleX(1);
}

.container-body{
  display: flex;
  flex-direction: column;
}
.container{
  display:flex;
  flex-direction: row;
}
.container span{
  font-size: 4.8rem;
  position: relative;
  top: 1rem;
}
